REV 2022/ Analysis

In [112]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

def style (op):
        result = f'${op:,.2f}'
        return result
pd.options.display.float_format = '${:,.2f}'.format

In [11]:
rev1=pd.read_csv("D:/OneDrive - AVASA/Standarize Folders/Rev2022 (1 enero al 30 junio).csv")
rev1=pd.DataFrame(rev1)
rev1.count()

BRAND            310369
status           310369
dbr_date_out     310369
dbr_date         310369
loc_out          310369
                  ...
iva_chg          310369
rpt_as_rev       310369
other_chg        310369
EST_TOTAL        310369
GROSS_REVENUE    310369
Length: 110, dtype: int64

In [12]:
rev2=pd.read_csv("D:\OneDrive - AVASA\Standarize Folders\Rev2022 (1 julio al 29 diciembre).csv")
rev2=pd.DataFrame(rev2)
rev2.count()

status           316063
dbr_date_out     316063
dbr_date         316063
loc_out          316063
LOCACION_in      316063
                  ...
iva_chg          316063
rpt_as_rev       316063
other_chg        316063
EST_TOTAL        316063
GROSS_REVENUE    316063
Length: 109, dtype: int64

In [9]:
dfrev=pd.concat([rev1,rev2])
list(dfrev.columns)

['BRAND',
 'status',
 'dbr_date_out',
 'dbr_date',
 'loc_out',
 'LOCACION_in',
 'empl_out',
 'gate_agent',
 'number',
 'Prep_Fuel',
 'res_no',
 'rulefl_prod',
 'source_code',
 'CLOSE_MISC',
 'veh_class',
 'veh_class.1',
 'ECONOMICO',
 'MODEL',
 'cdpid',
 'CORP_Name',
 'RA_Points',
 'Odom_in',
 'Odom_out',
 'Last_Name',
 'rent_days',
 'dbr_days',
 'bun_time_chg',
 'unbun_time_chg',
 'ret_inc_chg',
 'vch_inc_chg',
 'mile_chg',
 'disc_chg',
 'csadj_chg',
 'promo_chg',
 'estimate',
 'age24_chg',
 'baby_chg',
 'movpk_chg',
 'cccp_chg',
 'cvg2_chg',
 'cvg3_chg',
 'cvg4_chg',
 'cvg5_chg',
 'cvg6_chg',
 'delco_chg',
 'drivr_chg',
 'fpfee_chg',
 'drop_chg',
 'fuel_chg',
 'ppd_fuel_chg',
 'ldwba_chg',
 'ldwpl_chg',
 'ldwpr_chg',
 'ldwc1_chg',
 'ldwc9_chg',
 'cvg7_chg',
 'cotg_chg',
 'icem_chg',
 'icem2_chg',
 'safe_chg',
 'prert_chg',
 'presr_chg',
 'gopro_chg',
 'tag_chg',
 'scand_chg',
 'hsp_chg',
 'tvlpk_chg',
 'self_chg',
 'ldw0_chg',
 'ldw1_chg',
 'ldw10_chg',
 'ldw11_chg',
 'ldw12_chg',
 'ldw14_chg',
 'ldw2_chg',
 'ldw3_chg',
 'ldw4_chg',
 'ldw6_chg',
 'ldw7_chg',
 'ldw8_chg',
 'ldw9_chg',
 'ldw15_chg',
 'ldw18_chg',
 'ldw16_chg',
 'cdwbd_chg',
 'ldwf1_chg',
 'ldwf2_chg',
 'ldwf3_chg',
 'ldwf4_chg',
 'ldwf5_chg',
 'ldwf6_chg',
 'ldwfh_chg',
 'dwf_chg',
 'night_chg',
 'asist_chg',
 'nvl_chg',
 'gps_chg',
 'mult_chg',
 'pra_chg',
 'upgd_chg',
 'alf_fee_chg',
 'ff_fee_chg',
 'dmg_chg',
 'schr_chg',
 'vlf_chg',
 'iva_chg',
 'rpt_as_rev',
 'other_chg',
 'EST_TOTAL',
 'GROSS_REVENUE']

Rev analysis

In [39]:
rev_part=pd.DataFrame(dfrev,columns=["BRAND","number","dbr_date","loc_out","veh_class","ECONOMICO","MODEL","rpt_as_rev"])
rev_part.head(10)

,BRAND,number,dbr_date,loc_out,veh_class,ECONOMICO,MODEL,rpt_as_rev
0,HERTZ,F3190628,2022-01-28,ZCL50,NaN,TA1344,TAOS,94181.40
1,HERTZ,F3213300,2022-01-11,TUX50,C,AU1331,AVEOLS,10464.00
2,HERTZ,F3232425,2022-01-10,GDL50,C,AA1011,ATT SE A,2696.28
3,HERTZ,F3237477,2022-01-14,CAN50,D,VV1286,VENTO,58302.99
4,HERTZ,F3236562,2022-01-19,MEX51,C,PO1337,POLOCS,16292.56
5,HERTZ,F3240116,2022-01-08,CAN50,C6,CA1093,CAVALILT,51737.98
6,HERTZ,F3240523,2022-01-19,SLP60,C,AU1528,AVEOLS,19671.32
7,HERTZ,F3241969,2022-01-10,OAX50,C,VV1411,VENTOC,41521.23
8,HERTZ,F3243501,2022-01-08,MLM50,F,SE1001,SENTRA,13920.00
9,HERTZ,F3244497,2022-01-05,LEO50,NaN,B51139,BEAT5P,21036.34

In [40]:
rev_part.isna().any()
rev_part.count()

BRAND         310369
number        626432
dbr_date      626432
loc_out       626432
veh_class     299629
ECONOMICO     626432
MODEL         626432
rpt_as_rev    626432
dtype: int64

In [44]:
values={"Brand":"NA","veh_class": "NA"}
rev_part=rev_part.fillna(value=values)
rev_part.isnull().any()

BRAND          True
number        False
dbr_date      False
loc_out       False
veh_class     False
ECONOMICO     False
MODEL         False
rpt_as_rev    False
dtype: bool

In [94]:
sum=rev_part["rpt_as_rev"].sum()
style(sum)
#format(sum,",.2f")

'$3,670,838,007.27'

In [113]:
grouped= rev_part["rpt_as_rev"].groupby([rev_part["BRAND"]]).sum()
grouped

BRAND
DOLLAR      $190,763,306.49
FIREFLY      $38,808,010.65
HERTZ     $1,405,008,640.70
THRIFTY     $215,174,455.61
Name: rpt_as_rev, dtype: float64

In [125]:
grouped= rev_part["rpt_as_rev"].groupby([rev_part["BRAND"],rev_part["MODEL"]]).sum()
grouped.sort_values(ascending=True)

# working print with for the whole series.
# for [k1,k2], grouped in grouped:
  #  print(k1,k2)

TypeError: cannot unpack non-iterable float object